/* Light */
.light#outer {
    background-color: #ececec;
}
.light .time {
    background-color: white;
}
.light #changer {
    background-image: url(../assets/dark.svg);
    background-color: #cecece;
}
.light #gh-logo {
    background-color: white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14) inset,
                0 1px 10px 0 rgba(0, 0, 0, 0.12) inset,
                0 2px 4px -1px rgba(0, 0, 0, 0.3) inset;
}
.light .gh-logo-img {
    filter: contrast(0);
}

/* Dark */
.dark#outer {
    background-color: #333;
}
.dark .time, .dark .time-sep {
    color: white;
}
.dark .time-sep {
    text-shadow: 0 0 3px white
}
.dark .time {
    background-color: black;
}
.dark #changer {
    background-image: url(../assets/light.svg);
    background-color: #333300;
}
.dark #gh-logo {
    background-color: #808080;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14) inset,
                0 9px 46px 8px rgba(0, 0, 0, 0.12) inset,
                0 11px 15px -7px rgba(0, 0, 0, 0.2) inset;
}
